@page "/category/{nameofcategory}"
@using Data
@using Newtonsoft.Json
@using Functionality
<div class="kategorija">
<div class="name">
    
    <h3>@NameOfCategory</h3>
</div>

@if (QuestionCategory != null)
{
    int counter = 1;
    string display = " ";
    @foreach(var item in QuestionCategory)
    {
        <div class="question">
           
            <p>@counter:@item.question</p>
            <ul>
                <li ><label for="check"><input id="check"  type="checkbox" />@item.answers.answer_a</label></li>
                <li><label><input type="checkbox" />@item.answers.answer_b</label></li>
             @(item.answers.answer_c!=null
                ?@<li><label><input type="checkbox" />@item.answers.answer_c</label></li>
                :@<span></span>)
                @(item.answers.answer_d!=null
                ?@<li><label><input type="checkbox" />@item.answers.answer_d</label></li>
                :@<span></span>)
                @(item.answers.answer_e!=null
                ?@<li><label><input type="checkbox" />@item.answers.answer_e</label></li>
                :@<span></span>)
                @(item.answers.answer_f!=null
                ?@<li><label><input type="checkbox" />@item.answers.answer_f</label></li>
                :@<span></span>)
            </ul>
            
        </div>
        counter++;
    }  
}
</div>
<script src="javascriptFolder/script.js"></script>
@code {
    [Parameter]
    public string? NameOfCategory{ get; set; }

    [Inject]
    public IHttpClientFactory iClientFactory { get; set; }
    [Inject]
    public IConfiguration iConfiguration { get; set; }

    public static string Token;
    public List<CategoryParameter> QuestionCategory { get; set; }
    public HttpClient httpClient = new HttpClient();
    public APIHelper apiHelper { get; set; } = new APIHelper();

    public List<CategoryParameter> ListOfElements { get; set; }
    protected async override Task OnInitializedAsync()
    {
        Token = iConfiguration.GetValue<string>("Token");
        httpClient = iClientFactory.CreateClient("HttpClientService");

        httpClient.DefaultRequestHeaders.Add("X-Api-Key", $"{Token}");
        QuestionCategory = await apiHelper.GetCategoryQuestions(httpClient,NameOfCategory);

    }
   
}
